body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  color: blue;
  background: green;
}

ul, ol {
  padding-left: 15px;
  line-height: 26px;
  margin-left: 15px;
}

h1{
	text-transform: uppercase;
}

h2{
	line-height: 20px;
	margin:  0;
}


p{
	font-size: 13px;
}

a {
	color: #ffffff;
	transition: all 0.8;
}
.derecha {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(47, 147, 123);
}
